.nav_container{
    /*  */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 64px;
    background-color: transparent;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    transition: 0.4s ease;
    z-index: 18;
}

.nav_container a{
    text-decoration: none;
}

.nav_container ul{
    padding: 0;
    list-style: none;
}

.title{
    display: flex;
    align-items: center;
}

.title strong {
    font-size: 32px;
    color: aliceblue;
    letter-spacing: 0.5px;
  }

  .option__list{
    display: flex;
  }

  .option__list li a{
      font-size: 16px;
      padding: 4px 12px;
      color: aliceblue;
  }

  .option__list li a:hover {
    cursor: pointer;
    color: #EACCF8;
  }

  @media screen and (max-width: 1090px) {
    .option__list {
      display: none;
    }
  }
  
  